:root {
	--white-width: 80px;
	--black-width: 70px;
}

body {
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	user-select: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: rgb(247, 247, 247);
	font-family: "Bahnschrift";
	text-align: center;
}

.wrapper {
	display: grid;
	grid-template-areas: "header-container game-container";
	grid-template-columns: 400px calc(4 * var(--white-width) + 2 * var(--black-width));
}

.header {
	font-size: 48px;
}

.game-container {
	display: grid;
	grid-template-areas:
		"lane-white lane-black lane-white lane-white lane-black lane-white"
		"judgeline"
		"button-white button-black button-white button-white button-black button-white"
		"hp-bar"
		"hp-numeric";
	background: rgb(64, 64, 64);
}

.lane-white, .lane-black {
	height: 79.5vh;
	border-style: solid;
	border-width: 0 1px;
	border-color: rgba(224, 224, 224, 0.5);
}

.lane-white {
	width: calc(var(--white-width) - 2px);
	background: rgb(32, 32, 32);
}

.lane-black {
	width: calc(var(--black-width) - 2px);
	background: rgb(16, 16, 16);
}

.judgeline, .hp-bar, .hp-numeric {
	grid-column-start: 1;
	grid-column-end: 7;
}

.hp-numeric {
	text-align: right;
}

.judgeline {
	height: 1vh;
	background: rgb(247, 0, 0);
	box-shadow: 0px -6px 8px 0px rgba(49, 236, 217, 0.9);
}

.button-white {
	margin: 8px 1px;
	width: calc(var(--white-width) - 8px);
	height: 80px;
	border-style: solid;
	border-width: 3px;
	border-color: rgba(0, 0, 0, 0.8);
	border-radius: 2px;
	display: grid;
	place-items: center;
	background: rgb(224, 224, 224);
	box-shadow: inset 0px -16px 10px 5px rgba(0, 0, 0, 0.4);
}

.button-black {
	margin: 0px 1px;
	width: calc(var(--black-width) - 8px);
	height: 70px;
	border-style: solid;
	border-width: 3px;
	border-color: rgba(0, 0, 0, 0.8);
	border-radius: 2px;
	display: grid;
	place-items: center;
	background: rgb(48, 48, 48);
	box-shadow: inset 0px -14px 10px 5px rgba(0, 0, 0, 0.4);
}